.base-card {
  padding: 24px 24px 32px;
  border-radius: 12px;
  background-color: $color-gray-dark;

  display: flex;
  flex-direction: column;
  gap: 20px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__title {
    @include display-xs-semibold($color-off-white);
  }

  &__description {
    @include text-md-regular($color-gray);
  }

  &__footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
}
