$color-black: #181819; // Основной черный
$color-gray-dark: #2a2a2b; // Темно-серый
$color-off-white: #fcfcfc; // Светлый оттенок (почти белый)
$color-primary: #005ff9; // Основной акцентный цвет
$color-gray: #9a9a9a; // Серый
$color-error: #f61f39; // Цвет ошибки
$color-error-dark: #ba0117; // Темный оттенок ошибки
$color-success: #008e30; // Цвет успеха
$color-white: #ffffff; // Белый
