$breakpoints: (
  xs: 0px,
  // Мобильные устройства
  sm: 576px,
  // Маленькие экраны
  md: 768px,
  // Средние экраны (планшеты)
  lg: 992px,
  // Ноутбуки
  xl: 1200px,
  // Большие экраны
  xxl: 1400px, // Очень большие экраны
);

$container-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);
