.main-page-template {
  display: flex;
  flex-direction: column;
  gap: 60px;

  &__header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    @include display-lg-semibold($color-off-white);
  }

  &__content {
    flex: 1;

    &--loading,
    &--empty {
      @include flex-center;
    }
  }
}
