@mixin font-face($font-name, $font-weight) {
  $font-path: "/assets/fonts/#{$font-name}/#{$font-name}";
  @font-face {
    font-family: $font-name;
    font-weight: $font-weight;
    font-style: normal;
    font-display: swap;
    src:
      url("#{$font-path}-#{$font-weight}.woff2") format("woff2"),
      url("#{$font-path}-#{$font-weight}.woff") format("woff"),
      url("#{$font-path}-#{$font-weight}.ttf") format("truetype"),
      url("#{$font-path}-#{$font-weight}.otf") format("opentype");
  }
}
